# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
build/
target/
.mvn/
.gradle/
.bsp/

# OS metadata
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.iml
.classpath
.project
.settings/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local configuration
*.local

# Kubernetes / Docker scratch
kubeconfig.yaml
*docker-compose.override.yml
